<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"
    <title>vue 熟悉测试</title>

    <style>
        body{
            font-size: 15px;
        }
        #rotal {
            background-color: #ffe8a1;
            border: #eea236 solid 2px
        }
    </style>
</head>
<body>
<div id="app">

    <!--v-show命令的测试，只有输入框中输入了数据以后才可以隐藏提示语，与此同时提交数据按钮才会显示-->
    <div style="color: red;" v-show="!textData">输入框中必须填入数据才能提交</div>
    <textarea v-model="textData"></textarea>
    <input type="button" value="submit data" v-show="textData"/>

    <!--组件的使用-->
        <counter heading='likes' color="green"></counter>
        <counter heading="Dislike" color="red"></counter>

    <!--组件的使用-->
    <p>{{message}}</p>
    <span v-bind:title="title">将鼠标悬浮在我上面可以看到页面的加载时间哦</span>
   <div> <input v-model="message" /></div>
    <div><button @click="show">{{message}}</button></div>
    <ul>
        <li v-for="s in list">
            {{s.data}}
        </li>
    </ul>
    <div style="background-color:slategray">在vue中注册组件<b>何为组件？相当于一个标签，使用注册的组件的名字就可以包含注册的内容</b></div>

    <p>父组件与子组件之间数据的传递：prop && event</p>
    <p>你看不到我看不到我哈哈哈你猜我想打的是什么东西</p>
    <todo-list></todo-list>

</div>

<!--<template id="counter-template">
    <h1>{{heading}}</h1>
    <button style='background-color: red' @click="count += 1">{{ count }}</button>
</template>-->

<div id="rotal">
        <h1>挂载到底是怎么一回事呀</h1>
</div>
<script src="../js/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
    Vue.component('counter',{
        template: '<div><h1>{{heading}}</h1>\n' +
        '    <button style=\'background-color: pink\' @click="count += 1">{{ count }}</button></div>',
        data: function(){
            return { count: 0 }
        },
        props: {
            heading: '',
            color: ''
        }
    })
    //注册组件
    Vue.component('todo-list',{
        template: '<P>组件内容呀</P>'
    })
    var vm = new Vue({
        el: "#app",
        data: {
            message: 'hello Vue!',
            textData: '',
            title: '页面加载日期是：'+ new Date().toLocaleString(),
            seen: 'true',
            list: [
                {data: '数据一'},
                {data: '数据二'},
                {data: '数据三'}
                ]
        },
        methods: {
            show: function(){
                this.message = "我们不一样"
            }
        }
    });

    //创建构造器，使用extend({})
    var rotial = Vue.extend({
        template: "<p>这是:{{firstName}}-{{lastName}}使用vue.extend()定义的一个子组件，看看效果如何..{{alias}}耶</p>",
        data: function(){
            return {
                firstName: "tan",
                lastName: "qingqing",
                alias: "tqq"
            }
        }
    });
    //创建实例，并将内容挂载到元素上
   new rotial().$mount("#rotal")
</script>
</body>
</html>